@font-face {
    font-family: 'AlteHaasGrotesk';
    src: url('/font/AlteHaasGroteskRegular.ttf');
}

@font-face {
    font-family: 'AlteHaasGroteskBold';
    src: url('/font/AlteHaasGroteskBold.ttf');
}


* {
    box-sizing: border-box;
}

html,
body {
    background: #fff2f2;
    color: #545454;
    margin: 0;
    padding: 0;
    font-family: AlteHaasGrotesk, Arial, Helvetica, sans-serif;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    font-size: 1.1em;
}

h1 {
    font-family: AlteHaasGroteskBold, Arial, Helvetica, sans-serif;
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    line-height: 6vw;
    font-size: 7vw;
    padding: 6vw 0;
    background-position: right;
}

.sub-heading {
    text-align: center;
    /* font-family: AlteHaasGroteskBold, Arial, Helvetica, sans-serif; */
    /* font-weight: bold; */
}

body {
    width: 100%;
}

.cont {
    width: 100%;
    max-width: 815px;
    margin: auto;
    height: auto;
    padding: 20px;
}

.button {
    margin: 10px 20px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    background: #a99b9a;
    color: #fff2f2;
    text-decoration: none;
    width: 300px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    text-align: center;
}

.button:hover {
    background: #64605f;
}

.copy-to-clipboard {
    display: flex;
    width: 100%;
    max-width: 450px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

.copy-to-clipboard input {
    border: 0;
    border-right: 1px solid #ddd;
    background: #fff;
    color: #545454;
    padding: 10px;
    width: 100%;
    font-size: 1em;
}

.copy-to-clipboard button {
    height: 45.3px;
    color: 545454;
    margin: 0;
    padding: 10px;
    border: 0;
    flex: 0 0 auto;
    font-size: 0.8em;
    cursor: pointer;
}

#mc_embed_signup {
    transition: 0.3s;
    width: 500px;
}

.contents {
    text-align: center;
}

.contents .button {
    /* display: block; */
    /* margin: 10px auto; */

}